@font-face {
    font-family: 'Shrikhand';
    src: url('../fonts/Shrikhand-Regular.ttf') format('truetype'),
    }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype'),
    }

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#nav__logo{
    width: 50%;
}

#header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header__content__head{
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 8px 10px -10px black;
    font-weight: bold;
}

#header__content__desc{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#header__content__btn{
    width: 220px;
    background-image: linear-gradient(166deg, #FF79DA, #9356DC) ;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 grey;
}