@charset "UTF-8";
@import url("../Utils/_mixins.scss");
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-family: 'shrikhand';
  position: relative;
}

nav h1 {
  font-size: 2em;
}

@media only screen and (min-width: 600px) {
  nav {
    height: 100px;
  }
  nav h1 {
    font-size: 5em;
  }
  nav #link-home {
    bottom: 74px;
    left: -200px;
    font-size: 3em;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
  color: white;
  height: 250px;
  width: 100%;
}

footer a, footer a:visited {
  color: white;
}

footer #footer__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 150px;
}

footer #footer__content {
  width: 90%;
  max-width: 1400px;
  line-height: 30px;
}

footer .footer__icone {
  width: 15px;
  margin-right: 5px;
}

footer .fa-hands-helping {
  font-size: 0.8em;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body a, body a:visited, body a:active {
  text-decoration: none;
}

body a p, body a:visited p, body a:active p {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  -webkit-box-shadow: inset 0 8px 10px -10px black;
          box-shadow: inset 0 8px 10px -10px black;
  font-weight: bold;
}

#header-content .header-icone {
  margin-right: 20px;
}

#header-content__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: center;
}

#header-content__btn {
  height: 50px;
  width: 220px;
  background-image: linear-gradient(166deg, #FF79DA, #9356DC);
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px 0 grey;
          box-shadow: 0 5px 10px 0 grey;
  -webkit-transition: all;
  transition: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#header-content__btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 0 10px 15px 0 #444444;
          box-shadow: 0 10px 15px 0 #444444;
  -webkit-transition: -webkit-filter 1000ms ease-out;
  transition: -webkit-filter 1000ms ease-out;
  transition: filter 1000ms ease-out;
  transition: filter 1000ms ease-out, -webkit-filter 1000ms ease-out;
  -webkit-transition: -webkit-box-shadow 1000ms;
  transition: -webkit-box-shadow 1000ms;
  transition: box-shadow 1000ms;
  transition: box-shadow 1000ms, -webkit-box-shadow 1000ms;
}

#link-home {
  /*div de la flèche pour le retour au menu*/
  height: 0;
  position: absolute;
  left: -65px;
  bottom: 40px;
  color: black;
  font-size: 1.3em;
}

/*header pour chaque restaurant. Le header reste le même, seul l'image change*/
.header-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -50px;
  width: 100%;
  z-index: -1;
}

.header-img-lapalettedugout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.header-img-alafrancaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.header-img-lanoteenchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.header-img-ledelicedessens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

@-webkit-keyframes loader-grow {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #FF79DA;
    opacity: 100%;
  }
}

@keyframes loader-grow {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #FF79DA;
    opacity: 100%;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
  0% {
    z-index: 999;
  }
  99% {
    z-index: 999;
  }
  100% {
    z-index: -999;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
  0% {
    z-index: 999;
  }
  99% {
    z-index: 999;
  }
  100% {
    z-index: -999;
  }
}

@-webkit-keyframes fade-in {
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

.menu-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-radius: 50px 50px 0 0;
}

.menu-main-content__header {
  width: 90%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.menu-main-content__header .heart-container {
  position: relative;
  top: 7px;
}

.menu-main-content__header .heart-container .fa-heart {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 25px;
  color: black;
}

.menu-main-content__header .heart-container .fa-heart--full {
  opacity: 0;
}

.menu-main-content__header .heart-container:hover .fa-heart--empty {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.menu-main-content__header .heart-container:hover .fa-heart--full {
  opacity: 100%;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-main-content__header h1 {
  font-family: 'Shrikhand';
  white-space: nowrap;
  font-size: 1.7em;
}

#menu {
  width: 90%;
  max-width: 1400px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu .menu__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#menu .menu__title {
  text-transform: uppercase;
}

#menu .menu__title p {
  margin-bottom: 0;
}

#menu .menu__title .green-line {
  height: 2px;
  width: 40px;
  background-color: #99E2D0;
  margin-bottom: 20px;
  margin-top: 5px;
}

.menu-card {
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 10px 0 grey;
          box-shadow: 0 5px 10px 0 grey;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  overflow: hidden;
  margin-bottom: 20px;
  opacity: 0;
  margin-top: 20px;
  -webkit-animation: fade-in 1000ms forwards;
          animation: fade-in 1000ms forwards;
}

.menu-card:nth-child(2) {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.menu-card:nth-child(3) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.menu-card:nth-child(4) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.menu-card:nth-child(5) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.menu-card p {
  margin: 10px;
}

.menu-card__bold {
  font-weight: bold;
}

.menu-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.menu-card__info p {
  font-size: 0.9em;
}

.menu-card__info .price {
  width: 25px;
}

.menu-card__info__text, .menu-card__info__text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-card__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 100%;
  background: #99E2D0;
  color: white;
  font-size: 2em;
  margin-right: -75px;
  -webkit-transition: margin 500ms;
  transition: margin 500ms;
}

.menu-card:hover .menu-card__info {
  width: calc( 100% - 75px);
}

.menu-card:hover .menu-card__checkbox {
  margin-right: 0;
}

.menu-card:hover .fa-check-circle {
  -webkit-animation: rotate 500ms ease-in-out;
          animation: rotate 500ms ease-in-out;
}

.btn-color {
  width: 220px;
  background-image: linear-gradient(166deg, #FF79DA, #9356DC);
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px 0 grey;
          box-shadow: 0 5px 10px 0 grey;
  -webkit-transition: all;
  transition: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: 100px;
}

.btn-color:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 0 10px 15px 0 #444444;
          box-shadow: 0 10px 15px 0 #444444;
  -webkit-transition: -webkit-filter 1000ms ease-out;
  transition: -webkit-filter 1000ms ease-out;
  transition: filter 1000ms ease-out;
  transition: filter 1000ms ease-out, -webkit-filter 1000ms ease-out;
  -webkit-transition: -webkit-box-shadow 1000ms;
  transition: -webkit-box-shadow 1000ms;
  transition: box-shadow 1000ms;
  transition: box-shadow 1000ms, -webkit-box-shadow 1000ms;
}

/*Breakpoint Tablette*/
@media only screen and (min-width: 600px) {
  .menu-main-content h1 {
    font-size: 2.5em;
  }
  #menu p {
    font-size: 1em;
  }
}

/*Breakpoints desktop et tablette landscape*/
@media only screen and (min-width: 1025px), screen and (min-width: 600px) and (orientation: landscape) {
  .header_img {
    height: 400px;
  }
  .menu-main-content #menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-main-content #menu .menu__section {
    width: 30%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
/*# sourceMappingURL=style-menu.css.map */