@charset "UTF-8";
@import url("../Utils/mixins.scss");
@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhand';
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes loader-grow {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #FF79DA;
    opacity: 100%;
  }
}

@keyframes loader-grow {
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    background-color: #FF79DA;
    opacity: 100%;
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
  0% {
    z-index: 999;
  }
  99% {
    z-index: 999;
  }
  100% {
    z-index: -999;
  }
}

@keyframes hide {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
  0% {
    z-index: 999;
  }
  99% {
    z-index: 999;
  }
  100% {
    z-index: -999;
  }
}

@-webkit-keyframes fade-in {
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 100%;
    margin-top: 0;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #353535;
  color: white;
  height: 250px;
  width: 100%;
}

footer a, footer a:visited {
  color: white;
}

footer #footer__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 150px;
}

footer #footer__content {
  width: 90%;
  line-height: 30px;
}

footer .footer__icone {
  width: 15px;
  margin-right: 5px;
}

footer .fa-hands-helping {
  font-size: 0.8em;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: hide 3000ms forwards;
          animation: hide 3000ms forwards;
  z-index: 999;
}

.loader p {
  font-family: 'shrikhand';
  color: white;
}

.loader-icone {
  font-size: 4em;
  color: #99E2D0;
  -webkit-animation: rotate 2000ms infinite;
          animation: rotate 2000ms infinite;
}

.loader-ellipses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.loader-ellipses span {
  background-color: #9356DC;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: loader-grow 2000ms infinite alternate;
          animation: loader-grow 2000ms infinite alternate;
}

.loader-ellipses span:nth-child(2) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.loader-ellipses span:nth-child(3) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body a, body a:visited, body a:active {
  text-decoration: none;
}

body a p, body a:visited p, body a:active p {
  margin: 0;
}

nav {
  /*disposition de la nav*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: relative;
}

#nav-logo {
  width: 50%;
}

#link-home {
  /*div de la flèche pour le retour au menu*/
  height: 0;
  position: absolute;
  left: 25px;
  bottom: 40px;
  color: black;
  font-size: 1.3em;
}

/*header pour chaque restaurant. Le header reste le même, seul l'image change*/
.header-img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -50px;
}

.header-img-lapalettedugout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.header-img-alafrancaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.header-img-lanoteenchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.header-img-ledelicedessens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#link-home {
  display: none;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header-content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 100%;
  -webkit-box-shadow: inset 0 8px 10px -10px black;
          box-shadow: inset 0 8px 10px -10px black;
  font-weight: bold;
}

#header-content .header-icone {
  margin-right: 20px;
}

#header-content__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: center;
}

#header-content__btn {
  height: 50px;
  width: 220px;
  background-image: linear-gradient(166deg, #FF79DA, #9356DC);
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 10px 0 grey;
          box-shadow: 0 5px 10px 0 grey;
  -webkit-transition: all;
  transition: all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#header-content__btn:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
  -webkit-box-shadow: 0 10px 15px 0 #444444;
          box-shadow: 0 10px 15px 0 #444444;
  -webkit-transition: -webkit-filter 1000ms ease-out;
  transition: -webkit-filter 1000ms ease-out;
  transition: filter 1000ms ease-out;
  transition: filter 1000ms ease-out, -webkit-filter 1000ms ease-out;
  -webkit-transition: -webkit-box-shadow 1000ms;
  transition: -webkit-box-shadow 1000ms;
  transition: box-shadow 1000ms;
  transition: box-shadow 1000ms, -webkit-box-shadow 1000ms;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fonct {
  width: 90%;
}

#fonct-content {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.fonct-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fonct-btn .fa-mobile-alt {
  font-size: 1.2em;
}

.fonct-btn__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 10px transparent;
  background: #9356DC;
  width: 30px;
  height: 30px;
  color: white;
}

.fonct-btn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 10px 0 grey;
          box-shadow: 0 2px 10px 0 grey;
  margin-left: -15px;
  color: black;
}

.fonct-btn__content__icone {
  color: grey;
  margin-right: 20px;
  margin-left: -20px;
}

#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 100px;
}

#restaurants-box {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#restaurants-content {
  height: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#restaurants .restaurants-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 275px;
  width: 100%;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0 5px 10px grey;
          box-shadow: 0 5px 10px grey;
  margin-bottom: 50px;
}

#restaurants .restaurants-link__imgcontainer {
  position: relative;
}

#restaurants .restaurants-link__imgcontainer p {
  position: absolute;
  top: 10px;
  right: 20px;
  background: #99E2D0;
  color: #1b6150;
  height: 30px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants .restaurants-link__img {
  width: 100%;
  height: 200px;
  -o-object-position: 0 100%;
     object-position: 0 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}

#restaurants .restaurants-link__img-enchantee {
  -o-object-position: 0 60%;
     object-position: 0 60%;
}

#restaurants .restaurants-link__info {
  height: 90px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

#restaurants .restaurants-link__info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#restaurants .restaurants-link__info p, #restaurants .restaurants-link__info h2 {
  margin: 0;
  color: black;
}

#restaurants .restaurants-link__info .heart-container {
  position: relative;
}

#restaurants .restaurants-link__info .heart-container .fa-heart {
  position: absolute;
  right: 10px;
  top: -20px;
  font-size: 25px;
  color: black;
}

#restaurants .restaurants-link__info .heart-container .fa-heart--full {
  opacity: 0;
}

#restaurants .restaurants-link__info .heart-container:hover .fa-heart--empty {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

#restaurants .restaurants-link__info .heart-container:hover .fa-heart--full {
  opacity: 100%;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Breakpoint Tablette*/
@media only screen and (min-width: 600px) and (orientation: portrait) {
  nav {
    height: 75px;
  }
  #header-content {
    width: 100%;
  }
  #header-content__head {
    width: 100%;
  }
  #fonct-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fonct-content .fonct-btn {
    width: 50%;
  }
  #restaurants-content {
    height: auto;
  }
  #restaurants-content .restaurants-link__img {
    -o-object-position: 0 75%;
       object-position: 0 75%;
  }
  #restaurants-content .restaurants-link__img-enchantee {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
}

/*Breakpoints desktop et tablette landscape*/
@media only screen and (min-width: 1025px), screen and (min-width: 600px) and (orientation: landscape) {
  nav {
    height: 100px;
  }
  nav #nav-logo {
    width: 100%;
  }
  #header-content {
    width: 100%;
  }
  #header-content__head {
    width: 100%;
  }
  #fonct-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 125px;
  }
  #fonct-content .fonct-btn {
    width: 33%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fonct-content .fonct-btn__content {
    height: 60px;
    padding-left: 10px;
  }
  #restaurants-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 700px;
  }
  #restaurants-content .restaurants-link {
    width: 45%;
    height: 350px;
  }
  #restaurants-content .restaurants-link__img {
    height: 250px;
    -o-object-position: 0 85%;
       object-position: 0 85%;
  }
  #restaurants-content .restaurants-link__img-enchantee {
    -o-object-position: 0 60%;
       object-position: 0 60%;
  }
}
/*# sourceMappingURL=style.css.map */