@import "Utils/_variables.scss";
@import "Base/_fonts.scss";
@import "Utils/_mixins.scss";
@import "Layout/_nav.scss";
@import "Layout/_footer.scss";
@import "Base/_body.scss";
@import "Base/_header.scss";
@import "Utils/_keyframes.scss";

.menu-main-content{

    @include flex-columncenter;
    background-color: darken(white, 5%);
    border-radius: 50px 50px 0 0;

    &__header{
        width: 90%;
        max-width: 1400px;
        @include flex-allcenter;
        justify-content: space-between;
        margin-top: 20px;

        .heart-container{
            position:relative;
            top: 7px;

            .fa-heart{
                position: absolute;
                right: 10px;
                top: -20px;
                font-size: 25px;
                color: black;

                &--full{
                    opacity: 0;
                }

            }

            &:hover{
                .fa-heart{
                    @include heart-change;
                }
            }       

        }
        
        h1{
            font-family: 'Shrikhand';
            white-space: nowrap;
            font-size: 1.7em;
        }
    }
}

#menu{
    width: 90%;
    max-width: 1400px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;

    .menu__section{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .menu__title{
        text-transform: uppercase;

        p{
            margin-bottom: 0;
        }
    
        .green-line{
            height: 2px;
            width: 40px;
            background-color: $tertiary-color;
            margin-bottom: 20px;
            margin-top: 5px;
        }
    
    }

}

.menu-card{
    @include button-menu;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    overflow: hidden;
    margin-bottom: 20px;
    opacity: 0;
    margin-top: 20px;
    animation: fade-in 1000ms forwards;

    &:nth-child(2){animation-delay: 250ms;}
    &:nth-child(3){animation-delay: 500ms;}
    &:nth-child(4){animation-delay: 1000ms;}
    &:nth-child(5){animation-delay: 1500ms;}

    p{
        margin: 10px;
    }

    &__bold{
        font-weight: bold;
    }

    &__info{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        transition: width 500ms;

        p{
            font-size: 0.9em;
        }

        .price{
            width: 25px;
        }

        &__text{
            &, p{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }


    &__checkbox{
        @include flex-allcenter;
        width: 75px;
        height: 100%;
        background: $tertiary-color;
        color: white;
        font-size: 2em;
        margin-right: -75px;
        transition: margin 500ms;
    }

    &:hover{

        .menu-card{

            &__info{
                width: calc( 100% - 75px );
            }
            &__checkbox{
                margin-right: 0;
            }

        }

        .fa-check-circle{
            animation: rotate 500ms ease-in-out;
        }

    }


  }


.btn-color{
    width: 220px;
    background-image: linear-gradient(166deg, $secondary-color, $primary-color);
    @include button;
    @include flex-allcenter;
    color: white;
    margin-bottom: 100px;
}


/*Breakpoint Tablette*/
@media only screen and (min-width: 600px){

    .menu-main-content{
        
        h1{
            font-size: 2.5em;
        }
    }

    #menu{
        p{
            font-size: 1em;
        }
    }
}

/*Breakpoints desktop et tablette landscape*/
@media only screen and (min-width: 1025px), screen and (min-width: 600px) and (orientation: landscape){

    .header_img{
        height: 400px;
    }

    .menu-main-content{
        #menu{
            flex-direction: row;
            justify-content: space-between;
            .menu__section{
                width: 30%;
                justify-content: flex-start;
            }
        }
    }

}