@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'shrikhand';
    src: url('../fonts/shrikhand-regular-webfont.woff2') format('woff2'),
         url('../fonts/shrikhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}