@import "../Utils/_mixins.scss";

header{
    @include flex-columncenter;
}

#header-content{
    @include flex-columncenter;

    &__head{
        @include flex-allcenter;
        background-color: #f6f6f6;
        width: 100%;
        box-shadow: inset 0 8px 10px -10px black;
        font-weight: bold;

    }

    .header-icone{
        margin-right: 20px;
    }

    &__desc{
        @include flex-columncenter;
        width: 80%;
        text-align: center;
    }

    &__btn{
        height: 50px;
        width: 220px;
        background-image: linear-gradient(166deg, $secondary-color, $primary-color);
        @include button;
        @include flex-allcenter;
        color: white;
    }
}

#link-home{ /*div de la flèche pour le retour au menu*/
    height: 0;
    position: absolute;
    left: -65px;
    bottom: 40px;
    color: black;
    font-size: 1.3em;
}


/*header pour chaque restaurant. Le header reste le même, seul l'image change*/

.header-img{
    @include menuheader;
    width: 100%;
    z-index: -1;

    &-lapalettedugout{
        background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }

    &-alafrancaise{
        background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }

    &-lanoteenchantee{
        background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }

    &-ledelicedessens{
        background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }
     
 }