@import "../Utils/_variables.scss";

@keyframes loader-grow {
    to{
      transform: scale(1.2);
      background-color: $secondary-color;
      opacity: 100%;
    }
  }
  
  @keyframes rotate{
    to{
      transform: rotate(360deg);
    }
  }

  @keyframes hide{
    0%   {opacity: 100%;}
    90%  {opacity: 100%;}
    100% {opacity: 0;}
    
    0% {z-index: 999;}
    99% {z-index: 999;}
    100% {z-index: -999;}
    
  }

  @keyframes fade-in{
      to{
          opacity: 100%;
          margin-top: 0;
      }
  }