@mixin flex-columncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin flex-allcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 grey;
    transition: all;
    
    &:hover{
        filter: brightness(1.1);
        box-shadow: 0 10px 15px 0 rgb(68, 68, 68);
        transition: filter 1000ms ease-out;
        transition: box-shadow 1000ms;
    }
}

@mixin button-menu{
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 grey;
    transition: all 500ms;

}

@mixin menuheader {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}

@mixin heart-change{
    &--empty{
        opacity: 0;
        transition: opacity 500ms ease-out; 
    }

    &--full{
        opacity: 100%;
        transition: opacity 500ms ease-out;
        background-image: linear-gradient(45deg, $secondary-color, $primary-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}