@mixin flex-columncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin flex-allcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 grey;
    
    &:hover{
        filter: brightness(110%);
        box-shadow: 0 5px 10px 0 black;
        transition: filter 200ms ease-in;
        transition: box-shadow 200ms ease-in;
    }
}

@mixin button-menu{
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 grey;
    transition: all 500ms;

}

@mixin menuheader {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}