@mixin flex-columncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@mixin flex-allcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button{
    border-radius: 25px;
    box-shadow: 0 5px 10px 0 grey;
}

@mixin button-menu{
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 grey;
}

@mixin menuheader {
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}